<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <parameter name="deviceName" value="emulator-5554"/>
    <parameter name="platformName" value="Android"/>
    <parameter name="platformVersion" value="9"/>
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="F:/GoooBigMobileApp">
        <classes>
            <!--<class name="GoooBigTestCases.GoooBig_Preparation"/>
            <class name="GoooBigTestCases.GoooBig_Login"/>
            <class name="GoooBigTestCases.GoooBig_branchesAndWarehouses"/>
            <class name="GoooBigTestCases.GoooBig_ShiftStart"/>
            &lt;!&ndash;<class name="GoooBigTestCases.GoooBig_Home"/>&ndash;&gt;
            &lt;!&ndash;<class name="GoooBigTestCases.GoooBig_AddClient"/>
            <class name="GoooBigTestCases.GoooBig_UploadInvoiceForClient"/>&ndash;&gt;
            <class name="GoooBigTestCases.GoooBig_BoxOperation"/>
            <class name="GoooBigTestCases.GoooBig_Invoices"/>
            <class name="GoooBigTestCases.GoooBig_PendingInvoice"/>
            <class name="GoooBigTestCases.GoooBig_NoticeCreditor"/>
            <class name="GoooBigTestCases.GoooBig_PostPaid"/>
            <class name="GoooBigTestCases.GoooBig_PriceOffer"/>
            &lt;!&ndash;<class name="GoooBigTestCases.GoooBig_OtherPaymentMethods"/>&ndash;&gt;
            <class name="GoooBigTestCases.GoooBig_CashierServices"/>-->

            <!--<class name="GoooBigTestCases.GoooBig_WebPortal"/>-->


            <class name="GoooBigTestCasesForTablet.GoooBig_Preparation"/>
            <class name="GoooBigTestCasesForTablet.GoooBig_Login"/>
            <class name="GoooBigTestCasesForTablet.GoooBig_branchesAndWarehouses"/>
            <class name="GoooBigTestCasesForTablet.GoooBig_ShiftStart"/>


            <class name="GoooBigTestCasesForTablet.GoooBig_Invoices"/>
            <class name="GoooBigTestCases.GoooBig_SelectWarehouseForTablet"/>
        </classes>
    </test>
</suite>